﻿@using Amraps.Identity.Models
@model LoggedOutViewModel

@{
    // Set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    ViewData["Title"] = "Signed out of Amraps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
}
<div class="cover logged-out-cover"></div>
<div class="container">
    <div class="row justify-content-md-center align-content-center">
        <div class="col-md-4">
            <div class="login-container">
                <div class="card login-box">
                    <div class="card-body login-title">
                        <h1 class="card-title">Amraps</h1>
                        <div>Ultimate Athlete System</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p class="col-12">You are now signed out</p>
                        </div>
                    </div>
                    @if (Model.PostLogoutRedirectUri != null)
                    {
                        <div class="card-body">
                            <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">Return to @Model.ClientName</a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}
@section scripts
{
    <script src="~/js/signout-redirect.js"></script>
}





