﻿@model Amraps.Identity.Models.IdentityServerErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.IsDevelopment)
    {
        <p>Identity Server Error: @Model.IdentityServerError.Error</p>
    }
</div> 