﻿.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.login-cover {
    background: transparent url('../images/login-cover.jpg') no-repeat center center fixed;
    background-size: cover;
}
.logout-cover {
    background: transparent url('../images/logout-cover.jpg') no-repeat center center fixed;
    background-size: cover;
}
.logged-out-cover {
    background: transparent url('../images/logged-out-cover.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    position: relative;
    width: 450px;
    height: 100vh;
    overflow: hidden;
}

.login-box {
    border: none;
    width: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    background: transparent url('../images/black-70-opacity.png') repeat top left;
    color: #ffffff;
    transform: translateY(-50%);
}

.login-box .card-title {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 0 0;
}

.login-box,
.form-control,
.btn {
    border-radius: 0 0 0 0;
}

.login-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: #212121;
    color: #ababab;
    font-weight: lighter;
    letter-spacing: 2px;
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.6);
}
