<nav #navbar class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <!--<button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">-->
            <!--<i class="material-icons visible-on-sidebar-regular">more_vert</i>-->
            <!--<i class="material-icons visible-on-sidebar-mini">view_list</i>-->
            <!--</button>-->
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{getTitle()}}</span>
        </div>
        <div class="collapse navbar-collapse">
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="btn btn-white btn-round">
                            <i class="material-icons">help_outline</i>
                            <p class="hidden-lg hidden-md">Help</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#nogo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a (click)="signOut()"><i class="material-icons">exit_to_app</i> Sign Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
